/* All your custom styles go here. You can override the default Bootstrap styles or add your own custom styles for elements, classes, or IDs.  */
body {
    font-family: 'Work Sans';
}

header {
    z-index: 11;
}

.col {
    padding: 10px;
    background: lightgray;
    z-index: 11;
}

.dropdown {
    display: none;
    background-color: #CA9999;


}

p.dropdown {
    color: maroon;
    font-size: 1.4rem;
    margin: 0 0 0 auto;
}

.dropdown-toggle::after {
    display: none;

}

.nav {
    background-color: #CA9999;
    width: 100%;
}


.nav-link {
    color: maroon;

}

.nav-link:hover {
    color: red;
}

.disabled:hover {
    color: gray;
}

.btn-primary {
    background: maroon;
    outline-color: maroon;
}

.btn-primary:hover {
    background: red;
}

.btn-primary:active {
    background: red;
}

.card {
    min-height: 13rem;
}

h1,
h4 {
    color: maroon;
}

.w-100 {
    width: 100%;
    display: none;
}

/* On screens that are 992px wide or less */

@media screen and (max-width: 992px) {

    a.nav-link {
        display: none;
    }

    .w-100 {
        display: block;
    }

    .card {
        min-height: inherit;
    }

    .dropdown {
        display: flex;
    }
    
    .col {
        padding:3px;
    }
}
